.signup{
    width: 480px;
    overflow-y: auto;
    background-color: var(--primary-white-color);
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    transition: 0.10s ease;
    padding: 28px 40px;
    border-radius: 10px;
    top: 20%;
  }
  
  .signupactive{
    left: 35%;
    transition: 0.10s ease;
  }

  .signup__icon {
      width: 24px;
      height: 24px;
      cursor: pointer;
  }