.ozuqa {
    padding-bottom: 16px;
}

.ozuqa__container {
    position: relative;
}

.ozuqa__wrapper {
    display: flex;
    align-items: center;
    margin: 21px 0px;
}

.ozuqa__heading {
    font-size: 28px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.ozuqa__next__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    outline: none;
    width: 36px;
    height: 36px;
}

.ozuqa__next__icon {
    width: 24px;
    height: 24px;
}

.ozuqa__list {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}

.ozuqa__item {
    max-width: 232px;
    width: 100%;
    border-radius: 8px;
    transition: 0.3s ease;
}
.ozuqa__item:hover {
    box-shadow: 20px 20px 50px #0000001a;
}

.ozuqa__img {
    width: 232px;
    height: 309px;
    object-fit: cover;
    border-radius: 8px;
}

.ozuqa__wrapper__info {
    padding: 12px 8px 8px;
}

.ozuqa__title {
    color: #000000;
    font-size: 12.8px;
    font-weight: 400;
}

.ozuqa__price {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    margin-top: 30px;
}

.ozuqa__cart__btn__wrapper {
    padding: 12px 8px 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ozuqa__cart__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #76797f4d;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    color: #141415;
    background-color: #fff;
}

.ozuqa__cart__icon {
    width: 24px;
    height: 24px;
}

.ozuqa__swiper__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-radius: 50%;
    opacity: 0.5;
    background-color: #fff;
    cursor: pointer;
}

.ozuqa__swiper__btn[data-btn-type="left"]{
    left: 0;
}

.ozuqa__swiper__btn[data-btn-type="right"]{
    right: 0;
}

.ozuqa__swiper__icon {

}