.signin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.signin__heading {
    font-size: 40px;
    color: #3333CC;
    margin-bottom: 30px;
}

.signin__form {
    width: 450px;
    background-color: #3333CC;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
    border-radius: 20px;
}

.active__class {
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.signin__btn {
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}