.productBottom {
    padding-bottom: 20px;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.poductBottom__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.productBottom__item {
    max-width: 232px;
    width: 100%;
    border-radius: 7px;
    transition: 0.3s ease;
}

.productBottom__item:hover {
    box-shadow: 20px 20px 50px #0000001a;
}

.productBottom__img {
    width: 232px;
    height: 309px;
    object-fit: cover;
    border-radius: 7px;
}

.productBottom__wrapper {
    padding: 12px 8px 8px;
}

.productBottom__title {
    color: #000000;
    font-size: 12.8px;
    font-weight: 400;
}

.productBottom__price {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    margin-top: 30px;
}

.productBottom__btn__wrapper {
    padding: 12px 8px 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.productBottom__btn {
    display: flex;
    align-items: center;
    border: 1px solid #76797f4d;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    color: #141415;
    background-color: #fff;
}

.productBottom__icon {
    width: 24px;
    height: 24px;
}